# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# lightning
lightning_logs
outputs

# vscode
.vscode
biogtr/training/.hydra/config.yaml
biogtr/training/.hydra/hydra.yaml
biogtr/training/.hydra/overrides.yaml
biogtr/training/models/last-v1.ckpt
biogtr/training/models/last-v2.ckpt
biogtr/training/models/last-v3.ckpt
biogtr/training/models/last.ckpt
biogtr/training/models/wandb/latest-run
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/run-v4hfpru2.wandb
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/files/config.yaml
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/files/requirements.txt
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_172829-v4hfpru2/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/run-rtrdp4lp.wandb
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/files/config.yaml
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/files/requirements.txt
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_173355-rtrdp4lp/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_173721-i5iue026/run-i5iue026.wandb
biogtr/training/models/wandb/run-20230503_173721-i5iue026/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_173721-i5iue026/files/config.yaml
biogtr/training/models/wandb/run-20230503_173721-i5iue026/files/requirements.txt
biogtr/training/models/wandb/run-20230503_173721-i5iue026/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_173721-i5iue026/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/run-izyatfkp.wandb
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/files/config.yaml
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/files/requirements.txt
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_174530-izyatfkp/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/run-7345cdzn.wandb
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/files/config.yaml
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/files/requirements.txt
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_174646-7345cdzn/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_174710-68liabak/run-68liabak.wandb
biogtr/training/models/wandb/run-20230503_174710-68liabak/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_174710-68liabak/files/config.yaml
biogtr/training/models/wandb/run-20230503_174710-68liabak/files/requirements.txt
biogtr/training/models/wandb/run-20230503_174710-68liabak/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_174710-68liabak/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/run-dpo0y076.wandb
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/files/config.yaml
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/files/requirements.txt
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_174850-dpo0y076/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/run-hmk8a6hq.wandb
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/files/config.yaml
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/files/requirements.txt
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_174916-hmk8a6hq/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/run-0dnnhjk5.wandb
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/files/config.yaml
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/files/requirements.txt
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_175028-0dnnhjk5/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/run-uufsw2fj.wandb
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/files/config.yaml
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/files/requirements.txt
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_175106-uufsw2fj/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/run-5c58ez46.wandb
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/files/config.yaml
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/files/requirements.txt
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_175502-5c58ez46/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/run-t9y85i0k.wandb
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/files/config.yaml
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/files/requirements.txt
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_175551-t9y85i0k/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/run-3fhtq0sl.wandb
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/files/config.yaml
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/files/requirements.txt
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_175928-3fhtq0sl/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/run-8wo652zd.wandb
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/files/config.yaml
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/files/requirements.txt
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_180001-8wo652zd/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/run-i7akmtdq.wandb
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/files/config.yaml
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/files/requirements.txt
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_180339-i7akmtdq/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/run-9g9r5zhm.wandb
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/files/config.yaml
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/files/requirements.txt
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_180449-9g9r5zhm/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/run-wd2mxbrz.wandb
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/files/config.yaml
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/files/requirements.txt
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_180618-wd2mxbrz/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/run-3i9gm2n5.wandb
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/files/config.yaml
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181101-3i9gm2n5/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/run-2ok8x2ti.wandb
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/files/config.yaml
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181153-2ok8x2ti/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/run-xp96gne4.wandb
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/files/config.yaml
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181305-xp96gne4/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/run-2ba261kl.wandb
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/files/config.yaml
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181400-2ba261kl/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/run-46zp6k1a.wandb
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/files/config.yaml
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181629-46zp6k1a/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/run-2obgf95u.wandb
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/files/config.yaml
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181753-2obgf95u/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/run-8q84yf5d.wandb
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/files/config.yaml
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181900-8q84yf5d/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/run-f94anp0j.wandb
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/files/config.yaml
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/files/requirements.txt
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_181930-f94anp0j/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/run-5ppckm80.wandb
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/files/config.yaml
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/files/requirements.txt
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_182234-5ppckm80/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/run-9wl210a5.wandb
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/files/config.yaml
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/files/requirements.txt
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_182357-9wl210a5/files/wandb-summary.json
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/run-sr7m38ow.wandb
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/files/conda-environment.yaml
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/files/config.yaml
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/files/requirements.txt
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/files/wandb-metadata.json
biogtr/training/models/wandb/run-20230503_182418-sr7m38ow/files/wandb-summary.json
