name: biogtr

channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - pytorch-cuda=11.8
  - cudnn
  - pytorch
  - torchvision
  # - conda-forge::lightning
  - imageio
  # - av
  # - ffmpeg
  - albumentations
  - pip
  - pip:
    - matplotlib
    - sleap-io
    - "--editable=.[dev]"