name: biogtr

channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - pytorch-cuda=11.8
  - cudnn
  - pytorch
  - torchvision
  - lightning
  - imageio
  - av
  - ffmpeg
  - albumentations
  - matplotlib
  - pip
  - pip:
    - "--editable=.[dev]"